aside #login_box {
    border: 1px solid #dddddd;
    border-radius: 10px;
    background-color:#f3f3f3;
    width:175px;
    height: 95px;
    padding:5px;
}

aside #login_input {
    float:left;
    font-size: 13p;
}

aside #login_btn {
    float:left;
    margin-left:5px
}

aside #login_input input {
    width:90px;
    border: 1px solid #cccccc;
    margin:2px 0 2px 0;
    font-size: 11pt;
}

aside #input_button {
    margin: 0px 0 0 8px;
}

aside {
    width:200px;
    float:left;
}

aside #login_title {
    margin:5px 0 10px 0;
}

aside #join_search {
    margin-top:5px;
}

aside #guestbook {
    width:185px;
    height:160px;
    margin-top:15px;
    background-color:#eeeeee;
    border:1px solid #cccccc;
    border-radius: 10px;
    box-shadow:2px 2px 5px #dddddd
}

aside #guestbook_title {
    width:140px;
    padding:5px 0 0 5px;
    margin: 5px 0 10px 20px;
    border-bottom:1px solid #cccccc;
}
aside #guestbook li {
    list-style-image:url("../img/icon_blue.gif");
    margin-top:5px;
}
aside #guestbook ul {
    margin:0 0 0 50px;
}

/** 서브 메뉴 **/

aside nav#sub_menu {
    background-image: url("../img/sub_menu_bg.png");
    background-repeat: no-repeat;
    height: 330px;
    margin-top:10px;
}
aside nav#sub_menu ul{
    padding:90px 0 0 25px;
}

aside nav#sub_menu ul li {
    margin:0px 0 5px 0px;
}

aside nav#sub_menu ul a:link {
    text-decoration:none;
    font-size:14pt;
    color: #444444;
}
aside nav#sub_menu ul a:hover {
    text-decoration:none;
    color: #0000ff;
}
aside nav#sub_menu ul a:visited {
    text-decoration:none;
    color: #444444;
}
aside nav#sub_menu ul a:active {
    text-decoration:none;
    color: #444444;
}

aside #sub_benner {/*
border:1px solid red;
    height:30px;*/
}

/** 서브 메뉴 end **/