/** board write **/
section#main {
    width: 759px;
    margin-right: 28px;
}

section#board_main table {
    margin: 0 auto;
    border-collapse: collapse;
border:1px solid red;
    width: 100%;
}

section#board_main td {
    border-bottom: 1px solid #dddddd;
    padding: 10px;
}

section#board_main td.col1{
    width: 150px;
    text-align: center;
    border-right: 1px solid #cccccc;
}

section#main h2#board_title {
    margin-top:20px;
    padding: 0 0 5px 0;
}

section#main #write_title{
    text-align: center;
    margin: 10px 0 0 0;
    padding: 5px;
    background-color: #eeeeee;
    border-top:solid 2px #bbbbbb;
    border-bottom:solid 1px #bbbbbb;
}

/** buttons **/
div#buttons {
    margin-top:35px;
}

div#buttons .col1{
    float:left;
    margin-left:300px;
}
div#buttons .col2{
    float:right;
    margin-right:45px;
}