
section#main{
/*border:1px solid red;*/
    width:787px;
    float:right;
}

section#main #notice_free_youtube{
/*border:1px solid red;*/;
    width:400px;
    height:260px;
    position:relative;
}

section#main #notice_free_youtube #notice .latest_img {
    float:left;
}
section#main #notice_free_youtube #notice #latest_title {
    padding:3px;
    border-bottom:1px solid #cccccc;
}

section#main #notice_free_youtube #notice .book_img {
    float:left;
    margin:10px 0 0 20px;
}
section#main #notice_free_youtube #notice .more {
    float:right;
}
section#main #notice_free_youtube #notice .list {
    float:right;
}

section#main #notice_free_youtube #notice #latest_content li {
    margin-top:10px;
}

section#main #notice_free_youtube #notice .list div {
    float:left;
    margin-top:3px;
}

section#main #notice_free_youtube #notice .list .subject {
    width:200px;
}
section#main #notice_free_youtube #notice {
/*border:1px solid red;*/
    height:120px;
}
section#main #notice_free_youtube #free {
/*border:1px solid red;*/
    width:398px;
    height:120px;
    position:absolute;
    top:120px;
}
section#main #notice_free_youtube #youtube {
/*border:1px solid red;*/
    height:240px;
    position:absolute;
    top:0px;
    left:410px;
    width:340px;
}

section#main #notice_free_youtube #free .more {
    float:right;
}
section#main #notice_free_youtube #free .list {
    float:right;
}
section#main #notice_free_youtube #free #free_content li {
    margin-top:10px;
}

section#main #notice_free_youtube #free .book_img {
    float:left;
    margin:10px 0 0 20px;
}

section#main #notice_free_youtube #free .list div {
    float:left;
    margin-top:3px;
}

section#main #notice_free_youtube #free .list .subject {
    width:200px;
}

section#main #notice_free_youtube #free #free_title {
    padding:3px;
    border-bottom:1px solid #cccccc;
}
section#main #notice_free_youtube #youtube .more {
    float:right;
}
section#main #notice_free_youtube #youtube #youtube_title {
    padding:3px;
    border-bottom:1px solid #cccccc;
}
section#main #notice_free_youtube #youtube #youtube_img {
    margin:5px 0 0 30px;
}

